{% extends "base.html" %}
{% block title %}add_key{% endblock %}
{% block content %}
    <form method="post">
        分类<select name="job_key">
                {% for data in datas %}
                    <option value="{{data.job_key}}">{{data.job_key}}</option>
                {% endfor %}
            </select>
        <p></p>
      <input type="text" name="job_data">填写关键字</p>
      <input type="submit">
    </form>

    {%for data in datas%}
        {%for job_key in data.data%}
            {{job_key}}
        {%endfor%}
    {%endfor%}

{% endblock %}