{% extends "base.html" %}

{% block title %}用户留言{% endblock %}

{% block content %}
    {%for comment,user in comments%}
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="/user/{{comment.user_id}}">
                    <h3 class="panel-title">{{user.username}}</h3>
</a>
            </div>
            <div class="panel-body" ><p>{{comment.user_comment}}</p>
                <p>{{comment.create_time}}</p>
            </div>
        </div>

    {%endfor%}



<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
    {%for row in range(page_nums)%}
        <li><a href="/comment/{{row}}">{{row}}</a></li>
    {%endfor%}

  <li><a href="#">&raquo;</a></li>
</ul>


{% endblock %}



{% block tag%}


    <div class="text-center">
    <form action="/postcomment" method="post" role="form">
        <div class="form-group">
            <label for="name">留言板</label>
            <textarea class="form-control" rows="3" name="comment" placeholder="感谢你的意见和建议"></textarea>
        </div>
        <input type="submit" value="确定留言">
    </form>
</div>
{% endblock %}

