{% extends "base.html" %}

{% block title %}NeduJob{% endblock %}

{% block content %}

   {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<strong>职位标签:</strong>


<p>
    {%for tag in tags%}
        <a href="/search_tag/{{tag}}"> <span class="label label-info">{{tag}}</span></a>
    {%endfor%}


</p>


<form action="#" method="get">
    <input type="text" name="daterange">
    <input type="submit" value="根据日期查询">
</form>



{% for job in jobs %}
      <div class="blog-post">
        <a href="/job/{{ job.id }}"><strong> {{ job.title }}</strong></a>
          {%if job.publish_time%}
            <p class="fa-times" >{{job.publish_time}}</p>
          {%else%}
        <p class="fa-times" id = {{ job.create_time }}>{{ job.create_time }} </p>
          {%endif%}

<script>

//        timeStamp_value = document.getElementById("{{job.create_time}}").
        var thedata = new Date({{job.create_time}} * 1000);
        dataSting = thedata.toLocaleString();
        document.getElementById("{{job.create_time}}").innerHTML = "<strong>发布时间:</strong>" + dataSting

</script>
      </div>
    {% endfor %}


<script type="text/javascript">
$(document).ready(function() {
  $('input[name="daterange"]').daterangepicker();
});
</script>

{%if date%}


<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
    {%for row in range(page_nums)%}
        {%if row< 4 %}
        <li><a href="/filter?daterange={{date}}&page={{row}}">{{row}}</a></li>
        {%endif%}
    {%endfor%}
    <li><a>...</a></li>
    {%for row in range(page_nums)%}
        {%if row > page_nums-3%}
        <li><a href="/filter?daterange={{date}}&page={{row}}">{{row}}</a></li>
        {%endif%}
     {%endfor%}


  <li><a href="#">&raquo;</a></li>
</ul>


{%endif%}

{% endblock %}


{% block tag%}
    {%for tag in tags%}
        {%if tag.tag %}
                <p class="fa-tag" >{{row}}</p>
        {%endif%}
    {% endfor %}
{% endblock %}

