{% extends "base.html" %}

{% block title %}NeduJob{% endblock %}

{% block content %}
    {% for job in jobs %}
      <div class="blog-post">
        <a href="/job/{{ job.id }}"><strong> {{ job.title }}</strong></a>
        <p class="fa-times" id = {{ job.create_time }}>{{ job.create_time }} </p>
        <p>
<script>

        timeStamp_value = document.getElementById("{{job.create_time}}").innerText
        var thedata = new Date(timeStamp_value * 1000);
        dataSting = thedata.toLocaleString()
        document.getElementById("{{job.create_time}}").innerHTML = "<strong>发布时间:</strong>" + dataSting;

</script>
      </div>
    {% endfor %}
{% endblock %}

