{% extends "base.html" %}

{% block title %}NeduJob{% endblock %}

{% block content %}
    {% for job in jobs %}
      <div class="blog-post">
        <a href="/job/{{ job.id }}"><strong> {{ job.title }}</strong></a>
          {%if job.publish_time%}
            <p class="fa-times" >{{job.publish_time}}</p>
          {%else%}
        <p class="fa-times" id = {{ job.create_time }}>{{ job.create_time }} </p>
          {%endif%}

<script>

//        timeStamp_value = document.getElementById("{{job.create_time}}").
        var thedata = new Date({{job.create_time}} * 1000);
        dataSting = thedata.toLocaleString();
        document.getElementById("{{job.create_time}}").innerHTML = "<strong>发布时间:</strong>" + dataSting

</script>
      </div>
    {% endfor %}


<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>


{% endblock %}


{% block tag%}
    {%for tag in tags%}
        {%if tag.tag %}
                <p class="fa-tag" >{{row}}</p>
        {%endif%}
    {% endfor %}
{% endblock %}

