{% extends "base.html" %}

{% block title %}NeduJob{% endblock %}

{% block content %}
    {% for job in jobs %}
      <div class="blog-post">
        <h2 class="blog-post-title"> {{ job.title }}</h2>
        <p class="fa-times" >
            {%if job.publish_time%}
            {{job.publish_time}}
            {%else%}
            {{job.create_time}}}
            {%endif%}
        </p>
        <p class="panel-info"><strong>基本要求：</strong> {{ job.skill}}</p>
          <p class="modal-content">
              {%if job.content_rendered %}
                {{ job.content_rendered|safe }}
              {%else%}
                {{ job.content }}
              {%endif%}
             <a class="highlight-link" href="{{job.info_link}}">原网站地址链接</a>
          </p>

      </div>

    {% endfor %}
{% endblock %}

   <script>
            $(document).ready(function(){
                $("button").click(function() {
                    $("#123").hide();
                });
                });
        </script>