{% extends "base.html" %}

{% block title %}注册{% endblock %}

{% block content %}
  <form class="form-signin" role="form" method="POST">
    <input type="text" class="form-control-signin" name="email" placeholder="填写有效邮箱">
    <br><br>
      <input type="text" class="form-control-sigin" name="username" placeholder="填写你的用户名">
    <br/><br/>
    <input type="password" class="form-control-signin" name="password" placeholder="Password">
    <br/><br/>
    <input type="password" class="form-control-signin" name="repassword" placeholder="重复密码">
    <br/><br/>

      <button class="btn btn-info" type="submit">注册</button>
  </form>
{% endblock %}